<!DOCTYPE HTML>
<html>

<head>
    <title>Appear</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    class VisServer {
        constructor() {
            this.socket = io();
            this.visualizations = {};

            this.socket.on('my_response', (function(msg) {
                console.log(msg);
                console.log(this.visualizations);
                console.log(this.visualizations[msg.target])
                console.log(msg.target in this.visualizations)
                if (msg.target in this.visualizations) {
                    this.visualizations[msg.target](msg);
                }
            }).bind(this));
        }

        subscribe(target, updateFunction) {
            this.visualizations[target] = updateFunction;
        }
    }

    // Visualization functions
    function update_stopping_criteria(msg) {
        disease_data = []
        for (var disease in msg.scores) {
            disease_data.push({ x: msg.questions, y: msg.scores[disease], name: disease })
        }
        Plotly.newPlot('myChart', disease_data, { title: 'Score Convergence Condition', margin: { b: 350 }, height: 1000 });
    }

    function update_answered_entities(msg) {
        $("#answeredEntities").text("Number of answered entities " + msg.entities + " out of " + msg.limit)
    }

    function update_all_entities(msg) {
        $("#allEntities").text("Number of entities " + msg.entities + " out of " + msg.limit)
    }

    // Link visualization functions to content
    server = new VisServer()
    server.subscribe("stopping_criteria", update_stopping_criteria)
    server.subscribe("answeredEntities", update_answered_entities)
    server.subscribe("allEntities", update_all_entities)
    </script>
</head>

<body>
    <h1>Appear</h1>
    <p id="answeredEntities"></p>
    <p id="allEntities"></p>
    <div id="myChart"></div>
</body>

</html>